<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tingting's Recipes</title>
    <link rel="stylesheet" href="../styles/page.css">
  </head>

  <body>

    <nav class="nav blue">
      <section class="logo__container"><img class="logo" src="../images/white_diner_logo.png" alt="fork knife"/></section>
      <ul class="nav__links">
        <li><a href="./tingting.html">Tingting's Recipe</a></li>
        <li><a href="./chelsea.html">Chelsea's Recipe</a></li>
        <li><a href="./stephanie.html">Stephanie's Recipe</a></li>
        <li><a href="./sam.html">Sam's Recipe</a></li>
        <li><a href="../index.html">Home</a></li>

      </ul>

    </nav>
    
    <header class="subpage__main">
      <h2 class="subpage--recipe__title">Your Food Title</h1>
        <!-- <nav class= "navigation_bar"> 
          <a href="./chelsea.html">Chelsea</a>
          <a href="./sam.html">Sam</a>
          <a href="./stephanie.html">Stephanie</a>
          <a href="../index.html">Main</a>
        </nav> -->
    </header>

    <main>
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg" alt="Your Image" />
    <p >Your description Gruyere is the classic cheese for this sandwich; buy it if you can find it. If not, go for another cheese that will melt easily, like Swiss, Emmental, Comté, or Jarlsberg. Also, pick a flavorful ham, like Black Forest.</p>

      <div class="recipes">
        <article class="recipes_detail">
          <h3>Ingredients</h3>
          <li>tip1</li> 
          <li>tip2</li> 
          <li>tip3</li> 
          <li>tip4</li> 
        </article>

        <article class="recipes_detail">
          <h3>directions</h3>
          <li>Step 1: </li> 
          <li>Step 2:</li> 
          <li>Step 3:</li> 
          <li>Step 4:</li> 
        </article>
      </div>
    </main>

    <footer class="footer">
      <h4>Contact Info</h4>
      <p>Sunday - Closed</p>
      <p>Monday-Saturday - 7am-12am</p>
      <p>1234 Bacon Lane</p>
      <p>Two-Egg, Florida 50005</p>
      <p>&#169;</p>
    </footer>
  </body>
</html>