<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dan's Diner</title>
    <link rel="stylesheet" href="../styles/page.css">
  </head>

  <body>

    <nav class="nav blue">
      <section class="logo__container"><img class="logo" src="../images/white_diner_logo.png" alt="fork knife"/></section>
      <ul class="nav__links">
        <li><a href="./tingting.html">Tingting's Recipe</a></li>
        <li><a href="./chelsea.html">Chelsea's Recipe</a></li>
        <li><a href="./stephanie.html">Stephanie's Recipe</a></li>
        <li><a href="./sam.html">Sam's Recipe</a></li>
        <li><a href="../index.html">Home</a></li>

      </ul>

    </nav>
    
    <header class="subpage__main">
      <h2 class="subpage--recipe__title">Totchos</h1>
        <!-- <nav class= "navigation_bar"> 
          <a href="./chelsea.html">Chelsea</a>
          <a href="./sam.html">Sam</a>
          <a href="./stephanie.html">Stephanie</a>
          <a href="../index.html">Main</a>
        </nav> -->
    </header>

    <main>
    <img src="../images/Totchos-001.jpeg" alt="An image of tator tots nachos"/>
    <p >Totchos (Tator Tot Nachos) have everything you love about the classic nacho, but trade tortilla chips for tasty tator tots. These are perfect for game day or movie night. They're sure to be a crowd-pleaser! </p>

      <div class="recipes">
        <article class="recipes_detail">
          <h3>Ingredients</h3>
          <li>Tator Tots</li> 
          <li>Black Beans</li>
          <li>Salsa</li>
          <li>Cumin</li> 
          <li>Garlic Powder</li>
          <li>Salt</li>
          <li>Beer Cheese</li> 
          <li>Sour Cream</li> 
          <li>Diced Avocado</li> 
          <li>Diced Tomato</li>
          <li>Jalapeno (Optional)</li>
          <li>Fresh Cilantro for Garnish</li>
        </article>

        <article class="recipes_detail">
          <h3>directions</h3>
          <li>Step 1: Make your favorite tator tots. If you're feeling fancy, opt for homemade. Otherwise, go with frozen. We won't judge. </li> 
          <li>Step 2: Drain and rinse beans. In a small bowl, mix them with salsa and season with cumin, garlic powder and salt to taste. Go with your gut! Cook til hot.</li> 
          <li>Step 3: Once fully cooked, place the tator tots on a plate or platter. Top with black beans, beer cheese, avocado, tomato, sour cream, and probably even more cheese.</li> 
          <li>Step 4: Sprinkle on desired amount of cilantro and if you're brave enough, some fresh chopped jalapeno. </li> 
          <li>Step 5: Eat up!</li>
        </article>
      </div>
    </main>

    <footer class="footer">
      <h4>Contact Info</h4>
      <p>Sunday - Closed</p>
      <p>Monday-Saturday - 7am-12am</p>
      <p>1234 Bacon Lane</p>
      <p>Two-Egg, Florida 50005</p>
      <p>&#169;</p>
    </footer>
  </body>
</html>